img {
	height: 400px;
	width: 400px;
	object-fit: cover;
}

.log-in-form {
	width: 600px;
}

.top-header {
	text-align: center;
}

.main-col {
	display: flex;
	flex-direction: column;
}

.left-col {
	width: 200px;
}

.right-col {
	width: 200px;
}

.main-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
